:root{
    --main-bgcolor: #16213E;
    --main-font-color: #ffffff;

    background-color: var(--main-bgcolor);
    color: var(--main-font-color);
}

*{
    margin: 0%;
    padding: 0%;
}

.container{
    text-align: center;
    display: grid;
    grid-template-columns: minmax(250px,1fr) 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;

}

img:hover{
    cursor: pointer;
}

.container > div{
    padding: 20px;
}

.dashboard{
    background-color: #E94560;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000000;
}
.dashboard > div{
    padding: 10px;
    font-weight:bolder;
    display: flex;
    align-items: center;
    justify-content: start;
}
.dashboard > div:hover{
   background-color: #cd1836; 
   border-top-right-radius: 25px;
   border-bottom-left-radius: 25px;
   border-top-left-radius: 5px;
   border-bottom-right-radius: 5px;
   cursor: pointer;
   box-shadow: inset 2px 2px 10px #000000;
}

.dashboard > .logo{
    font-weight: bolder;
    font-size: 30px;
}

.container > .header{
    background-color: #0F3460;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px 50px;
}


.header > div{
    display: flex;
}
.header .search-bar{
    justify-content: space-around;
    padding: 5px;
}
.header input{
    height: 15px;
    width: 100%;
    border-radius: 25px;
    padding: 5px 10px;
}
.header input:hover{
    border: 3px solid #00008B;
}
.header input:focus{
    outline: none;
    border: 3px solid #0000ff;
}
.header .profile-settings{
    justify-content: end;
    align-items: center;
    gap: 10%;
    
}
.header .profile-settings img{
    height: 40px;
    border-radius: 25px;
}
.profile-settings > span{
    font-weight: bolder;
    font-size: larger;
}

.profile-display{
    text-align: left;
    gap: 20px;
}
.profile-display img{
    height: 70px;
    border-radius: 50%;
}
.profile-display > div> span{
    font-size: xx-large;
    padding: 25px 0px;
}

.header .extra{
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
.extra > div{
    background-color: #E94560;
    width: 70px;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
}
.extra > div:hover{
    background-color: #cd1836;
    padding: 12px;
}

.main{
    background-color: #533483;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    box-shadow: inset 3px 3px 7px #000000;
}

.main > div {
    text-align: left;
}


.main h2{
    padding: 5px;
}
.main > .contents > .cards{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-auto-rows: minmax(300px,1fr);
   gap: 20px;
}


.cards> div{
    background-color: #0F3460;
    border-left: 15px solid #16213E;
    border-radius: 15px;
    height: 300px;
    overflow: auto;
    box-shadow: 5px 3px 20px #000000;
}
.cards > div:hover{
    cursor: pointer;
    border-top: 4px solid #0F3460;
    border-right: 4px solid #0F3460;
    border-bottom: 4px solid #0F3460;
    border-left: 20px solid #16213E;
    box-shadow: 7px 6px 15px #000000;
}
.cards > div::-webkit-scrollbar {
    width: 0.5em;

}
.cards > div::-webkit-scrollbar-thumb{
    background-color: #E94560;
    border-radius: 25px;
}

.cards p{
    padding: 10px 15px;
}

.cards h3{
    text-align: center;
    padding: 10px;
}



.main .announcement {
    display: grid;
    grid-template-rows: 3fr 2fr;
}
.announcement > div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
}
.announcement h3:hover, .announcement span:hover{
    color: #533483;
    font-weight: bolder;
    cursor: pointer;
}

.articles{
    background-color: #16213E;
    border-radius: 25px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 5px 3px 20px #000000;
}
.articles > div {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding: 5px;
}
.articles > div > div > p{
    font-size: smaller;
}

.articles img{
    height: 50px;
    border-radius: 25px;
}

article{
    border-bottom: 2px solid grey;
    padding: 10px;
}

.footer{
    grid-column: 1 / 3;
    height: 5px;
    background-color: #000000;
}